.objectCard {
	display: flex;
	flex-direction: column;
	padding: 8px;
	border: 1px solid #cdcdcd;
	cursor: pointer;
	margin-bottom: 8px;
	&Name {
		display: flex;
		flex-direction: row;
		align-items: center;

		justify-content: space-between;
		font-size: 18px;
	}

	&Dropdown {
		display: none;
		&Active {
			padding: 0px 8px;
			display: flex;
			flex-direction: column;
			gap: 5px;
			margin-bottom: 8px;
		}
	}
}
.chatCard {
	cursor: pointer;
	padding: 8px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #b5b5b5;
	align-items: center;
	&:hover {
		background-color: #e0e0e0;
	}
}
